<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%=require('html-loader!@/modules/html/scale750.html')%>
    <%=require('html-loader!@/modules/html/html5shiv.html')%>
</head>
<body>
    <%= require('html-loader!@/modules/html/header.html')%>
    <img src="<%= require('@/images/icons.png')%>" alt="">
</body>
</html>