<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our wedding</title>
    <%=require('html-loader!@/modules/html/scale750.html')%>
    <%=require('html-loader!@/modules/html/html5shiv.html')%>
</head>
<body>
    <div class="loading" >
        <img src="<%= require('@/images/loading/loading (1).png')%>" alt="" class="loading-1" >
        <img src="<%= require('@/images/loading/loading (2).png')%>" alt="" class="loading-2" >
        <img src="<%= require('@/images/loading/loading (3).png')%>" alt="" class="loading-3" >
        <img src="<%= require('@/images/loading/loading (4).png')%>" alt="" class="loading-4" >
        <img src="<%= require('@/images/loading/loading (5).png')%>" alt="" class="loading-5" >
        <img src="<%= require('@/images/loading/loading (6).png')%>" alt="" class="loading-6" >
        <img src="<%= require('@/images/loading/loading (7).png')%>" alt="" class="loading-7" >
        <img src="<%= require('@/images/loading/loading (8).png')%>" alt="" class="loading-8" >
        <img src="<%= require('@/images/loading/loading (9).png')%>" alt="" class="loading-9" >
    </div>
    <div class="app" >
        <section class="banner" >
            <div class="content" >
                <div class="border-left-top" ></div>
                <div class="border-left-bottom" ></div>
                <div class="border-right-top" ></div>
                <div class="border-right-bottom" ></div>

                <div class="border-line-top" ></div>
                <div class="border-line-bottom" ></div>
                <div class="border-line-left" ></div>
                <div class="border-line-right" ></div>

                <div class="border-right" ></div>
                <div class="banner-frame-box" >
                    <div class="banner-frame" ></div>
                    <div class="image-box" >
                        <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                    </div>
                    <div class="fragement-1" ></div>
                    <div class="fragement-2" ></div>
                    <div class="fragement-3" ></div>
                    <div class="fragement-4" ></div>
                    <div class="fragement-5" ></div>
                    <div class="fragement-6" ></div>
                    <div class="fragement-7" ></div>
                    <div class="fragement-8" ></div>
                </div>
                <div class="our-name" >
                    梁&nbsp;&nbsp;俊
                    <i class='heart' ></i>
                    韦晓霞
                </div>
                <div class="flower-1" ></div>
                <div class="time" >
                    2021 年 05 月 01日 <br>
                    农历：三月二十日（周六）
                </div>
            </div>
        </section>
        <section class="frame-middle" >
            <div class="frame-box" >
                <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                <div class='frame' ></div>
            </div>
            <div class="leaf-1" ></div>
            <div class="leaf-2" ></div>
            <div class="leaf-3" ></div>
        </section>
        <section class="invite" >
            梁俊 和 韦晓霞 <br>
            诚邀您来参加我们的婚礼
            <div class="leaf" ></div>
        </section>
        <section class="address" >
            男方地址：宾阳县新圩镇金恩药店<br>
            <span>（邮政对面）</span><br>
            酒店地址：宾阳蒙记食府
            <div class="leaf" ></div>
        </section>
        <section class="date" >
            <div class="date-title" >
                时间：05月01日
                <div class="leaf" ></div>
            </div>
            <ul class="circuit" >
                <li>
                    <span class="time" >08:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-1" ></div>
                    </div>
                    <div class="tip" >准备</div>
                </li>
                <li>
                    <span class="time" >11:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-2" ></div>
                    </div>
                    <div class="tip" >接亲</div>
                </li>
                <li>
                    <span class="time" >12:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-3" ></div>
                    </div>
                    <div class="tip" >女方婚宴</div>
                </li>
                <li>
                    <span class="time" >14:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-4" ></div>
                    </div>
                    <div class="tip" >仪式</div>
                </li>
                <li>
                    <span class="time" >16:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-5" ></div>
                    </div>
                    <div class="tip" >男方婚宴</div>
                </li>
            </ul>
            <div class="time-act-bg" ></div>
        </section>
        <section class="story" >
            <div class="story-title" >
                <div class="leaf" ></div>
                - OUR STORY - 
            </div>
            <div class="frame-box-1" >
                <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
            </div>
            <div class="group-1" >
                <div class="title" >
                    <div class="line" ></div>
                    <h4>We Are Marry</h4>
                    <p>To have life henceforth, the poem of new joys</p>
                </div>
                <div class="pic-box" >
                    <div class="frame-box-2" >
                        <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                    </div>
                    <div class="frame-box-3" >
                        <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                    </div>
                </div>
            </div>
            <div class="group-2" >
                <div class="title" >
                    <h4>从此</h4>
                    <div class="line" ></div>
                    <p>“一屋 两人 三餐 四季”</p>
                </div>
                <div class="frame-box-5" >
                    <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                </div>
                <div class="frame-box-6" >
                    <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                </div>
                <div class="frame-box-7" >
                    <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
                </div>
            </div>
            <div class="frame-box-4" >
                <img src="<%= require('@/images/story/IMG_0071.jpg')%>" alt="">
            </div>
            <div class="flower-end" ></div>
            <div class="end" >
                <span>- END</span>
                <br>
                THANKS
            </div>
        </section>
    </div>
</body>
</html>