<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>梁俊&韦晓霞婚礼邀请函</title>
    <%=require('html-loader!@/modules/html/scale750.html')%>
    <%=require('html-loader!@/modules/html/html5shiv.html')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@6.5.3/swiper-bundle.css">  
</head>
<body>
    <div class="loading" >
        <img src="<%= require('@/images/loading/loading (1).png')%>" alt="" class="loading-1" >
        <img src="<%= require('@/images/loading/loading (2).png')%>" alt="" class="loading-2" >
        <img src="<%= require('@/images/loading/loading (3).png')%>" alt="" class="loading-3" >
        <img src="<%= require('@/images/loading/loading (4).png')%>" alt="" class="loading-4" >
        <img src="<%= require('@/images/loading/loading (5).png')%>" alt="" class="loading-5" >
        <img src="<%= require('@/images/loading/loading (6).png')%>" alt="" class="loading-6" >
        <img src="<%= require('@/images/loading/loading (7).png')%>" alt="" class="loading-7" >
        <img src="<%= require('@/images/loading/loading (8).png')%>" alt="" class="loading-8" >
        <img src="<%= require('@/images/loading/loading (9).png')%>" alt="" class="loading-9" >
    </div>
    <div class="app" id="app" >
        <section class="banner" >
            <div class="content" >
                <div class="border-left-top ready-ani" ></div>
                <div class="border-left-bottom ready-ani" ></div>
                <div class="border-right-top ready-ani" ></div>
                <div class="border-right-bottom ready-ani" ></div>

                <div class="border-line-top ready-ani" ></div>
                <div class="border-line-bottom ready-ani" ></div>
                <div class="border-line-left ready-ani" ></div>
                <div class="border-line-right ready-ani" ></div>

                <div class="banner-frame-box" >
                    <div class="banner-frame" ></div>
                    <div class="image-box" >
                        <img src="http://suncdn.tojike.com/images/HRQ11517.jpg" class="blur-pic ready-ani" alt="">
                    </div>
                    <div class="fragement-1 ready-ani" ></div>
                    <div class="fragement-2 ready-ani" ></div>
                    <div class="fragement-3 ready-ani" ></div>
                    <div class="fragement-4 ready-ani" ></div>
                    <div class="fragement-5 ready-ani" ></div>
                    <div class="fragement-6 ready-ani" ></div>
                    <div class="fragement-7 ready-ani" ></div>
                    <div class="fragement-8 ready-ani" ></div>
                </div>
                <div class="our-name ready-ani" >
                    <span class="name-1 ready-ani" >梁&nbsp;&nbsp;俊</span>
                    <i class='heart' ></i>
                    <span class="name-2 ready-ani" >韦晓霞</span>
                </div>
                <div class="flower-1 ready-ani" ></div>
                <div class="time ready-ani" >
                    2021 年 05 月 01日 <br>
                    农历：三月二十日（周六）
                </div>
                <div class="next" ></div>
            </div>
        </section>
        <section class="frame-middle" >
            <div class="frame-box" >
                <img src="http://suncdn.tojike.com/images/HRQ11516.png" alt="">
                <div class='frame ready-ani' ></div>
                <div class='frame-bold ready-ani' ></div>
            </div>
            <!-- <div class="leaf-1" ></div>
            <div class="leaf-2" ></div>
            <div class="leaf-3" ></div> -->
        </section>
        <section class="invite" >
            <p class="invite-text ready-ani" >
                <span>梁俊 & 韦晓霞</span> <br>
                诚邀您来参加我们的婚礼
            </p>
            <div class="leaf ready-ani" ></div>
        </section>
        <section class="address" >
            <p class="address-sunrise ready-ani" >女方婚宴地址：<i>宾阳县北街-(宾阳县北街宾阳县北街宾阳县北街宾阳县北街)</i><span>（点击查看地图）</span></p>
            <br>
            <p class="address-jun ready-ani" >
                男方家庭地址：<i>宾阳县新圩镇宾阳县新圩镇</i><span>（点击查看地图）</span>
            </p>
            <br>
            <p class="address-res ready-ani" >男方婚宴地址：宾阳县蒙记食府<span>（点击查看地图）</span></p>
            <div class="leaf ready-ani" ></div>
        </section>
        <section class="date" >
            <div class="date-title" >
                「 流程 」
                <div class="leaf ready-ani" ></div>
            </div>
            <ul class="circuit" >
                <div class="step start" ></div>
                <li>
                    <span class="time" >08:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-1" ></div>
                    </div>
                    <div class="step first" ></div>
                    <div class="tip ready-ani" >准备</div>
                </li>
                <li>
                    <span class="time" >11:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-2" ></div>
                    </div>
                    <div class="step second" ></div>
                    <div class="tip ready-ani" >接亲</div>
                </li>
                <li>
                    <span class="time" >12:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-3" ></div>
                    </div>
                    <div class="step third" ></div>
                    <div class="tip ready-ani" >女方婚宴</div>
                </li>
                <li>
                    <span class="time" >14:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-4" ></div>
                    </div>
                    <div class="step four" ></div>
                    <div class="tip ready-ani" >仪式</div>
                </li>
                <li>
                    <span class="time" >16:00</span>
                    <div class="preview-pic-box" >
                        <div class="preview-pic act-5" ></div>
                    </div>
                    <div class="step five" ></div>
                    <div class="tip ready-ani" >男方婚宴</div>
                </li>
                <div class="step end" ></div>
            </ul>
            <div class="time-act-bg" ></div>
        </section>
        <section class="story" >
            <div class="story-title" >
                <div class="leaf ready-ani" ></div>
                - OUR STORY - 

            </div>
            <div class="group-0" >
                <div class="frame-box-1 ready-ani" >
                    <img src="http://suncdn.tojike.com/images/HRQ11344.jpg" alt="">
                </div>
                <p class="tips ready-ani" >爱不是彼此对视，而是共同眺望远方</p>
                <div class="line ready-ani" ></div>
            </div>
            <div class="group-1" >
                <h4 class="title" >" Yes, I do "</h4>
                <p class="tips ready-ani" >
                    一路走来<br>
                    <span>相偎看山河</span><br>
                    <span>相携看四季</span>    
                </p>
                <div class="border" ></div>
                <div class="pic-box" >
                    <div class="frame-box-2 ready-ani" >
                        <img src="http://suncdn.tojike.com/images/HRQ11285.jpg" alt="">
                    </div>
                    <div class="frame-box-3 ready-ani" >
                        <img src="http://suncdn.tojike.com/images/HRQ11290.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="group-3" >
                <div class="title" >
                    <h4 class="to-start ready-ani" ># 从此</h4>
                    <div class="to-start-line ready-ani line" ></div>
                    <p class="to-start-text ready-ani" >“一屋 两人 三餐 四季”</p>
                </div>
                <div class="tips" >
                    Love never fails.
                </div>
                <div class="pic-box" >
                    <div class="frame-box-2 ready-ani" >
                        <img src="http://suncdn.tojike.com/images/HRQ11473.jpg" alt="">
                    </div>
                    <div class="frame-box-3 group-frame-3 ready-ani" >
                        <img src="http://suncdn.tojike.com/images/HRQ11461.jpg" alt="">
                    </div>
                    <div class="frame-box-3 group-frame-4 ready-ani" >
                        <img src="http://suncdn.tojike.com/images/HRQ11460.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="group-2" >
                <p class="tips ready-ani" >
                    平凡的陪伴最心安
                </p>
                <div class="title" >
                    <p class="group-2-title-1 ready-ani" >FIND YOU</p>
                    <p class="group-2-title-2 ready-ani" >LOVE YOU</p>
                    <p class="group-2-title-3 ready-ani" >MARRY YOU</p>
                    <p class="group-2-title-4 ready-ani" >AND LIVE WITHOUT SHAME</p>
                </div>
                <div class="frame-box-5 ready-ani" >
                    <img src="http://suncdn.tojike.com/images/HRQ11390.png" alt="">
                </div>
                <div class="frame-box-6 ready-ani" >
                    <img src="http://suncdn.tojike.com/images/HRQ11393.png" alt="">
                </div>
                <div class="frame-box-7 ready-ani" >
                    <img src="http://suncdn.tojike.com/images/HRQ11394.png" alt="">
                </div>
            </div>
            <p class="day-day ready-ani" >
                “在你身边 / 你在身边 / 日日又年年”
            </p>
            <div class="swiper-container frame-box-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/rings.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11448.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11459.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11396.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11181.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11325.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11322.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11645.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11576.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11719.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11534.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://suncdn.tojike.com/images/HRQ11517.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <img src="http://suncdn.tojike.com/images/flower-end.png" alt="" class="flower-end" >
            <p class="ten-year ready-ani" >
                相恋十年<br>
                一辈子很长，恰到好处的喜欢是最好<br>
                人间于此，欢喜是你
            </p>
            <div class="end ready-ani" >
                感谢你 <br>
                不远千里 / 为我们祝福 / 婚礼见 ❤
                <br><br>
                <span>- END</span>
                <br>
                THANKS
            </div>
        </section>
    </div>
    <div class="hearts" >
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
        <img src="<%= require('@/images/hearts/heart.png')%>" alt="">
    </div>
    <div class="play-toggle" >
        <img src="<%= require('@/images/music.svg')%>" class="play hide" alt="">
        <img src="<%= require('@/images/mute.svg')%>" class="mute " alt="">
    </div>
    <audio src="http://suncdn.tojike.com/%E7%88%B1%E4%BD%A0.mp3" id="audio" loop ></audio>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
    <script>
        // 底下的轮播图
        new Swiper('.swiper-container',{
            lazy: true,
            zoom:true,
            loop:true,
            speed:1500,
            autoplay:{
                delay:3000,
                stopOnLastSlide:false,//如果设置为true，当切换到最后一个slide时停止自动切换
                disableOnInteraction:true
            },
            navigation:{
                prevEl: '.swiper-button-prev',
                nextEl: '.swiper-button-next',
            },
            spaceBetween:30
        }) 
    </script>
</body>
</html>