@import "@/style/_root.scss";
@import "@/style/_reset.scss";
@import "@/style/_extend.scss";

html{
    height:100%;
}
body{
    min-height: 100%;
    background-color: #fff;
}
.app{
    min-height:100%;
    color:$primary-color;
}
.loading{
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
    height:100%;
    background-color: $primary-color;
    user-select: none;
    transition: all .2s 0s ease-out;
    img{
        @extend %ab-center;
        width:70px;
        height:70px;
        object-fit: contain;
        opacity: 0;
    }
    @keyframes showLoading {
        0%{
            opacity: 0;
        }
        6%{
            opacity: 1;
        }
        10%{
            opacity: 1;
        }
        12%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
    }
    @for $i from 1 through 9 {
        .loading-#{$i}{
            animation: showLoading 18s #{ ($i - 1) * 2}s linear infinite;
        }
    }
    &.hide{
        pointer-events: none;
        opacity: 0;
        transform: scale(1.1);
    }
}
.banner{
    position: relative;
    top:0;
    left:0;
    background-color: #fff;
    >.content{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .border-left-top,
    .border-left-bottom,
    .border-right-top,
    .border-right-bottom{
        position: absolute;
        left:.3rem;
        @include size(60px,94px);
    }
    .border-left-top,.border-right-top{
        top:.3rem;
        @include bg('banner-border-1.png');
    }
    .border-left-bottom,.border-right-bottom{
        bottom:.3rem;
        @include bg('banner-border-2.png');
    }
    .border-right-top,
    .border-right-bottom{
        left:auto;
        right:.3rem;
    }
    .border-right-top{
        @include bg('banner-border-3.png');
    }
    .border-right-bottom{
        @include bg('banner-border-4.png');
    }

    %smallLine {
        content:"";
        width:98%;
        height:1.5px;
        background-color: $primary-color;
        display: block;
        margin:0 auto;
    }
    %middleLine {
        content:"";
        width:100%;
        height:3px;
        background-color: $primary-color;
        display: block;
        margin:0 auto;
    }

    .border-line-top,.border-line-bottom{
        position: absolute;
        top:.3rem;
        left:0;
        right:0;
        margin:auto;
        width:calc(100% - 170px);
    }

    .border-line-top{
        &::before{
            @extend %middleLine;
        }
        &::after{
            margin-top:.1rem;
            @extend %smallLine;
        }
    }
    .border-line-bottom{
        top:auto;
        bottom:.3rem;
        &::after{
            margin-top:.1rem;
            @extend %middleLine;
        }
        &::before{
            @extend %smallLine;
        }
    }

    .border-line-left,.border-line-right{
        position: absolute;
        top:0;
        left:.3rem;
        bottom:0;
        margin:auto;
        height:calc(100% - 240px);
        display: flex;
        align-items: center;
    }

    .border-line-left{
        &::before{
            @extend %middleLine;
            height:100%;
            width:3px;
        }
        &::after{
            margin-left:.1rem;
            @extend %smallLine;
            height:98%;
            width:1.5px;
        }
    }
    .border-line-right{
        left:auto;
        right:0.3rem;
        &::after{
            @extend %middleLine;
            height:100%;
            width:3px;
        }
        &::before{
            margin-right:.1rem;
            @extend %smallLine;
            height:98%;
            width:1.5px;
        }
    }
    


    .banner-frame-box{
        width:220px;
        height:200px;
        position: relative;
        .banner-frame{
            width:100%;
            height:100%;
            @include bg('banner-frame.png');
            position: absolute;
            top:-1px;
            left:0;
            z-index: 1;
        }
        .image-box{
            width:218px;
            height:197px;
            margin-top:1px;
            margin-left:1px;
            overflow: hidden;
            position: relative;
            >img{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                display: block;
                width:110%;
                height:110%;
                object-fit: cover;
            }
        }
        .fragement-1{
            position: absolute;
            bottom:-20px;
            right:-20px;
            z-index: 2;
            @include size(97px,109px);
            @include bg('banner-fragment-1.png');
        }
        .fragement-2{
            position: absolute;
            top:-20px;
            right:-30px;
            z-index: 2;
            @include size(129px,106px);
            @include bg('banner-fragment-2.png');
        }
        .fragement-3{
            position: absolute;
            top:-20px;
            left:-30px;
            z-index: 2;
            @include size(129px,106px);
            @include bg('banner-fragment-3.png');
        }
        .fragement-4{
            position: absolute;
            bottom:-20px;
            left:-20px;
            z-index: 2;
            @include size(97px,109px);
            @include bg('banner-fragment-4.png');
        }
        .fragement-5{
            position: absolute;
            bottom:0;
            top:0;
            right:-30px;
            margin:auto;
            z-index: 2;
            @include size(.32rem,26px);
            @include bg('banner-fragment-5.png');
        }
        .fragement-6{
            position: absolute;
            bottom:0;
            top:0;
            left:-30px;
            margin:auto;
            z-index: 2;
            @include size(.32rem,26px);
            @include bg('banner-fragment-5.png');
            transform: rotate(180deg);
        }
        .fragement-7,.fragement-8{
            position: absolute;
            bottom:0;
            top:0;
            left:60px;
            margin: auto;
            z-index: 3;
            @include size(48px,100px);
            @include bg('banner-fragment-7.png');
        }
        .fragement-8{
            left:auto;
            right:60px;
        }
    }
    .our-name{
        margin-top:1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:.44rem;
        backface-visibility: hidden;
        position: relative;
        z-index: 1;
        color:#666;
        .heart{
            margin:0 20px;
            @include size(23px,20px);
            @include bg('heart-1.png');
        }
    }
    .flower-1{
        margin:20px auto;
        margin-top:30px;
        @include size(100px,25px);
        @include bg('flower-1.png');
        position: relative;
        left:-10px;
    }
    .time{
        text-align: center;
        font-size:.28rem;
        backface-visibility: hidden;
        position: relative;
        z-index: 1;
    }
}
.frame-middle{
    margin-top:50px;
    position: relative;
    .frame-box{
        @include size(6.9rem,4rem);
        margin:0 auto;
        position: relative;
        overflow: hidden;
        padding:.28rem;
        .frame,.frame-bold{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            &::before{
                content:"";
                position: absolute;
                top:0;
                left:0;
                width:30%;
                height:30%;
                border-top:.05rem solid $primary-color;
                border-left:.05rem solid $primary-color;
            }
            &::after{
                content:"";
                position: absolute;
                bottom:0;
                right:0;
                width:30%;
                height:30%;
                border-bottom:.05rem solid $primary-color;
                border-right:.05rem solid $primary-color;
            }
        }
        .frame-bold{
            &::before{
                top:.12rem;
                left:.12rem;
                border-width: .06rem;
                width:15%;
                height:15%;
            }
            &::after{
                right:.12rem;
                bottom:.12rem;
                border-width: .06rem;
                width:15%;
                height:15%;
            }
        }
        img{
            display: block;
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    // .leaf-1{
    //     @include size(1.29rem,1.6rem);
    //     @include bg('leaf-1.png');
    //     position: absolute;
    //     top:.3rem;
    //     left:0;
    //     z-index: 2;
    // }
    // .leaf-2{
    //     @include size(1.59rem,.53rem);
    //     @include bg('leaf-2.png');
    //     position: absolute;
    //     top:.66rem;
    //     right:0rem;
    //     z-index: 2;
    // }
    // .leaf-3{
    //     @include size(1.28rem,2.23rem);
    //     @include bg('leaf-3.png');
    //     position: absolute;
    //     top:0rem;
    //     right:0rem;
    //     z-index: 2;
    // }
}
.invite{
    width:5.6rem;
    padding:50px 0;
    margin:0 auto;
    margin-top:20px;
    text-align: center;
    font-size:.28rem;
    line-height: 2em;
    position: relative;
    .leaf{
        @include size(39px,98px);
        @include bg('leaf-4.png');
        position: absolute;
        bottom:0rem;
        left:0;
        top:0;
        margin:auto;
    }
}
.address-jun,
.address-sunrise,
.address-res{
    >span{
        text-decoration: underline;
    }
}
.address{
    width:6rem;
    padding:30px 0 30px 1.5rem;
    margin:0 auto;
    text-align: left;
    font-size:.28rem;
    line-height: 2em;
    position: relative;
    .leaf{
        @include size(50px,129px);
        @include bg('leaf-5.png');
        position: absolute;
        bottom:0rem;
        left:0;
        top:0;
        margin:auto;
    }
}
.date{
    padding:50px 0;
    position: relative;
    .date-title{
        width:6rem;
        margin:0 auto;
        font-size:.32rem;
        line-height: 2em;
        text-align: center;
        position: relative;
        z-index: 2;
        .leaf{
            @include size(.75rem,.84rem);
            @include bg('leaf-6.png');
            position: absolute;
            bottom:0rem;
            left:0;
            top:0;
            margin:auto;
        }
    }
    .circuit{
        margin-top:40px;
        position: relative;
        z-index: 2;
        &::after{
            content:"";
            width:1px;
            height:100%;
            background-color: $primary-color;
            position: absolute;
            top:0;
            left:0;
            right:0;
            margin:auto;
        }
        >.start{
            margin:0 auto;
            position: relative;
            top:-.15rem;
        }
        >.end{
            margin:0 auto;
            position: relative;
            bottom:-.15rem;
        }
        @keyframes blink {
            0%{
                opacity: .8;
                transform: scale(.7);
            }
            100%{
                opacity: 1;
                transform: scale(1.5);
            }
        }
        .step{
            width:.15rem;
            height:.15rem;
            border-radius: 50%;
            background-color: #ab495e;
            &::after{
                content:'';
                position: absolute;
                display: block;
                width:200%;
                height:200%;
                top:-.075rem;
                left:-.075rem;
                border-radius: 50%;
                background-color: rgba(171,73,94,.2);
            }
            &.past{
                background-color: #aaa;
                &::after{
                    background-color: rgba(0,0,0,.3);
                }
            }
            &.active{
                &::after{
                    background-color: rgba(171,73,94,.6);
                    animation: blink 1s 0s linear alternate infinite;
                }
            }
        }
        li{
            padding:.6rem 1.36rem .3rem 1.4rem;
            position: relative;
            display: flex;
            .time{
                position: absolute;
                top:0;
                left:1.4rem;
            }
            .step{
                position: absolute;
                left:0;
                right:0;
                bottom:.75rem;
                margin:auto;
            }
            .preview-pic-box{
                margin-left:.7rem;
                width:1.2rem;
                .preview-pic{
                    margin:0 auto;
                    &.act-1{
                        @include size(.64rem,.95rem);
                        @include bg('time-act-1.png');
                    }
                    &.act-2{
                        @include size(.82rem,.85rem);
                        @include bg('time-act-2.png');
                    }
                    &.act-3{
                        @include size(1.03rem,.85rem);
                        @include bg('time-act-3.png');
                    }
                    &.act-4{
                        @include size(.91rem,1.13rem);
                        @include bg('time-act-4.png');
                    }
                    &.act-5{
                        @include size(.94rem,1.16rem);
                        @include bg('time-act-5.png');
                    }
                }
            }
            .tip{
                margin-left:1.3rem;
                font-size:.32rem;
                display: flex;
                align-items: center;
            }
        }
    }
    .time-act-bg{
        @include size(3.54rem,8.26rem);
        @include bg('time-act-bg.png');
        position: absolute;
        top:-0.5rem;
        right:0;
    }
}
.story{
    margin-top:50px;
    position: relative;
    .line{
        width:1rem;
        height:.15rem;
        background-color: $primary-color;
    }
    .story-title{
        padding-left:.5rem;
        font-size:.32rem;
        line-height: 2em;
        position: relative;
        z-index: 2;
        text-align: left;
        font-weight: bold;
        .leaf{
            margin-bottom:.1rem;
            @include size(1.65rem,1.06rem);
            @include bg('leaf-7.png');
        }
    }
    .frame-box-1{
        @include size(6.9rem,4rem);
        padding:0.2rem;
        margin:0.2rem auto;
        margin-top:30px;
        position: relative;
        >img{
            display: block;
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .group-0{
        margin-top:50px;
        .tips{
            padding:0rem .5rem .3rem;
            text-align: right;
            font-size:.28rem;
            color:#999;
        }
        .line{
            float:right;
            height:1px;
            width:.6rem;
            margin-right:.5rem;
            margin-top:-.2rem;
        }
    }
    .group-1{
        margin-top:70px;
        position: relative;
        .title{
            position: absolute;
            right:.5rem;
            top:0rem;
            padding:0 0;
            font-size:.32rem;
        }
        .tips{
            position: absolute;
            left:.5rem;
            bottom:-.9rem;
            font-size:.28rem;
            color:#999;
            padding-left:.6rem;
            line-height: 2em;
            span{
                margin-left:.4rem;
                &:last-child{
                    margin-left:.8rem;
                }
            }
        }
        .border{
            width:3.5rem;
            height:6.7rem;
            border:1px solid $primary-color;
            position: absolute;
            z-index: -1;
            top:-.1rem;
            left:.7rem;
        }
        .pic-box{
            padding: 0 .5rem;
            display: flex;
            justify-content: space-between;
            >div{
                width:48%;
                height:4.6rem;
                &:last-child{
                    margin-top:1rem;
                }
            }
        }
        .frame-box-2,
        .frame-box-3{
            >img{
                display: block;
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    .group-2{
        margin-top:2rem;
        padding:0 .5rem;
        position: relative;
        .title{
            position: absolute;
            left:0rem;
            bottom:0;
            padding:0 .5rem 0rem;
            >h4{
                margin-bottom:.1rem;
                font-size:.24rem;
                font-weight: bold;
            }
            >p{
                margin-top:.2rem;
                font-size:.24rem;
                color:#666;
            }
        }
        .tips{
            position: absolute;
            right:0.5rem;
            top:-.5rem;
            width:.28rem;
            text-align: left;
            font-size:.28rem;
            color:#aaa;
        }
        .frame-box-5,
        .frame-box-6,
        .frame-box-7{
            width:2rem;
            height:2rem;
            >img{
                display: block;
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .frame-box-6{
            margin-left:2.25rem;
            margin-top:.2rem;
        }
        .frame-box-7{
            margin-left:4.5rem;
            margin-top:.2rem;
        }
    }
    .group-3{
        margin-top:2rem;
        padding:0 .5rem;
        position: relative;
        @extend %clearFloat;
        .title{
            h4{
                font-size:.32rem;
            }
            .line{
                margin:.2rem 0 .5rem;
            }
            p{
                margin-bottom:.5rem;
                color:#999;
                font-size:.28rem;
            }
        }
        .tips{
            position: absolute;
            left:0.5rem;
            bottom:0rem;
            color:#aaa;
            font-size:.28rem;
        }
        img{
            display: block;
            width:100%;
            height:100%;
            object-fit: cover;
        }
        .frame-box-2{
            width:100%;
            height:4rem;
        }
        .frame-box-3{
            float:right;
            width:2rem;
            height:1.2rem;
            margin-left:.1rem;
            margin-top:.1rem;
        }
    }
    .day-day{
        font-size:.28rem;
        color:#999;
        margin-top:1.6rem;
        padding:0 .5rem;
    }
    .frame-box-4{
        @include size(6.8rem,4.2rem);
        margin:0 auto;
        margin-top:.3rem;
        .swiper-slide img{
            display: block;
            @include size(6.8rem,4.2rem);
            width:100%;
            height:100%;
            object-fit: cover;
            border-radius: .1rem
        }
    }
    .flower-end{
        @include size(2.57rem,5.27rem);
        position: absolute;
        z-index: 2;
        left:0rem;
        bottom:-.8rem;
    }
    .ten-year{
        margin:.5rem;
        text-align: center;
        color:#666;
        font-size:.28rem;
        line-height: 2em;
    }
    .end{
        padding:1.5rem .3rem .5rem;
        text-align: right;
        color:#999;
        font-size:.28rem;
        span{
            font-weight: bold;
            font-size:.36rem;
        }
    }
}
.play-toggle{
    position: fixed;
    top:.3rem;
    right:.3rem;
    width:.8rem;
    height:.8rem;
    >img{
        width:100%;
        height:100%;
        display: block;
        &.hide{
            display: none;
        }
    }
}
#audio{
    opacity: 0;
    position: absolute;
    z-index: -100;
    left:-1000px;
    top:-1000px;
    display: none;
}